<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>harvey</title>
    <link rel="stylesheet" href="/css/site.css">
    <style>
figure {
	max-width: 24%;
	max-wight: 10%;
      display: inline-block;
      margin: 0 auto 1rem 0; /* flush left, space below */
      text-align: center;    /* centers the figcaption */
}

figure img {
      display: block;
      max-width: 100%;
}

figcaption {
      margin-top: 0.5rem;
      font-size: 0.9em;
      color: #555;
}
    </style>
</head>
<body>
<nav>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="index.html">README</a></li>
    <li><a href="LICENSE">LICENSE</a></li>
    <li><a href="INSTALL.html">INSTALL</a></li>
    <li><a href="user_manual.html">User Manual</a></li>
    <li><a href="about.html">About</a></li>
    <li><a href="search.html">Search</a></li>
    <li><a href="https://github.com/rsdoiel/harvey">GitHub</a></li>
</ul>
</nav>
<section>
${body}
</section>
</body>
</html>
